<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="" >
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trang chủ | Bảng xếp hạng các trường đại học </title>


</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<header id="ccr-header">
  <section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
        <nav class="top-menu">


          <ul class="right-top-menu pull-right">

            <li>
              <form class="form-inline" role="form" action="#">
                <input type="search" placeholder="Tìm kiếm..." required>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li>
          </ul> <!--  /.right-top-menu -->
        </nav> <!-- /.top-menu -->
      </div>
    </div>
  </section> <!--  /#ccr-nav-top  -->



  <section id="ccr-site-title">
    <div class="container">
      <div class="site-logo">
        <a  class="navbar-brand">
          <img src="<%= image_path('logo.png') %>" alt="Side Logo" />
          <h1><span>Giáo dục</span></h1>
          <h3>Bảng xếp hạng các trường đại học</h3>
        </a>
      </div> <!-- / .navbar-header -->

      <div class="add-space">

      </div> <!-- / .adspace -->

    </div>	<!-- /.container -->
  </section> <!-- / #ccr-site-title -->



  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><a class="active" <%= link_to 'Trang chủ', home_index_path %></a></li>
            <li class="dropdown">
              <%= link_to 'Khu vực', home_locate_path %>
            </li><!-- /.dropdown -->
            <li class="dropdown">
              <%= link_to 'Ngành học', home_course_path %>
            </li><!-- /.dropdown -->
            <li class="dropdown">
              <%= link_to 'Bảng xếp hạng', home_rank_path %>
              <ul class="sub-menu">

              </ul><!-- /.sub-menu -->
            </li><!-- /.dropdown -->



          </ul> <!-- /  .nav -->
        </div><!-- /  .collapse .navbar-collapse  -->



      </div>	<!-- /.container -->
    </nav> <!-- /.main-menu -->
  </section> <!-- / #ccr-nav-main -->



  <section id="ccr-nav-below-main">
    <nav class="second-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->



        <div class="ccr-language">
          <ul>
            <li><a ><img src="<%= image_path("uk.png") %>" alt="UK">English</a></li>
            <li><a ><img src="<%= image_path("france.png") %>" alt="France">France</a></li><li>
            <a ><img src="<%= image_path("garman.png") %>" alt="Garman">Garman</a></li>
          </ul>
        </div> <!-- /.ccr-language -->
      </div><!-- /.container -->
    </nav><!-- /.second-menu -->
  </section><!-- / #ccr-nav-below-main -->

</header> <!-- /#ccr-header -->