<%= render 'header' %>


<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">



      <div class="ccr-last-update">
        <div class="update-ribon">Bảng tin</div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <li><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></li>
            <li><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></li>
            <li><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></li>
            <li><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></li>
            <li><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></li>
          </ul>
        </div> <!-- /.update-text -->

        <div class="update-right-border"></div> <!-- /.update-right-border -->
      </div> <!-- / .ccr-last-update -->


      <section id="ccr-slide-main" class="carousel slide" data-ride="carousel">

        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="container slide-element">
              <img src="<%= image_path("slide/main-slide-1.jpg") %>" alt="Main Slide Image 1">
              <p><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></p>
            </div> <!-- /.slide-element -->
          </div> <!--/.active /.item -->

          <div class="item">
            <div class="container slide-element">
              <img src="<%= image_path("slide/main-slide-2.jpg") %>" alt="Main Slide Image 1">
              <p><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></p>
            </div> <!-- /.slide-element -->
          </div> <!--  /.item -->

          <div class="item">
            <div class="container slide-element">
              <img src="<%= image_path("slide/main-slide-3.jpg") %>" alt="Main Slide Image 1">
              <p><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></p>
            </div> <!-- /.slide-element -->
          </div> <!-- .item -->

          <div class="item">
            <div class="container slide-element">
              <img src="<%= image_path("slide/main-slide-4.jpg") %>" alt="Main Slide Image 1">
              <p><a <%= link_to 'Bảng xếp hạng các trường đại học', home_rank_path %></a></p>
            </div> <!-- /.slide-element -->
          </div> <!-- /.item -->


        </div> <!-- /.carousel-inner -->

        <!-- slider nav -->
        <a class="carousel-control left" href="#ccr-slide-main" data-slide="prev"><i class="fa fa-arrow-left"></i></a>
        <a class="carousel-control right" href="#ccr-slide-main" data-slide="next"><i class="fa fa-arrow-right"></i></a>

        <ol class="carousel-indicators">
          <li data-target="#ccr-slide-main" data-slide-to="0" class="active"></li>
          <li data-target="#ccr-slide-main" data-slide-to="1"></li>
          <li data-target="#ccr-slide-main" data-slide-to="2"></li>
          <li data-target="#ccr-slide-main" data-slide-to="3"></li>
        </ol> <!-- /.carousel-indicators -->


      </section><!-- /#ccr-slide-main -->




      <section id="ccr-latest-post-gallery">
        <div class="ccr-gallery-ttile">
          <span></span>
          <p>Bảng xếp hạng các trường theo ngành học</p>
        </div><!-- .ccr-gallery-ttile -->


        <ul class="ccr-latest-post">
          <li>
            <div class="ccr-thumbnail">
              <img src="<%= image_path("thumbnail1.jpg") %>" alt="Thumbnail 1">
              <p><a <%= link_to 'Xem Thêm', home_course_path %> > </a></p>
            </div>

            <h4> <%= link_to 'Khoa học tự nhiên', home_course_path %> </h4>
          </li>
          <li>
            <div class="ccr-thumbnail">
              <img src="<%= image_path("thumbnail2.jpg") %>" alt="Thumbnail 1">
              <p><a <%= link_to 'Xem Thêm', home_course_path %> > </a></p>
            </div>
            <h4><%= link_to 'Kinh doanh quản lí', home_course_path %></h4>
          </li>
          <li>
            <div class="ccr-thumbnail">
              <img src="<%= image_path("thumbnail3.jpg") %>" alt="Thumbnail 1">
              <p><a <%= link_to 'Xem Thêm', home_course_path %> > </a></p>
            </div>
            <h4><%= link_to 'Kĩ thuật và công nghệ', home_course_path %></h4>
          </li>


        </ul> <!-- /.ccr-latest-post -->

      </section> <!--  /#ccr-latest-post-gallery  -->

      <section class="bottom-border">
      </section> <!-- /#bottom-border -->




      <section id="ccr-world-news">
        <div class="ccr-gallery-ttile">
          <span></span>
          <p>Bảng xếp hạng của các khu vực</p>
        </div> <!-- .ccr-gallery-ttile -->

        <section class="featured-world-news">
          <div class="featured-world-news-img"><img src="<%= image_path("thumbnail-big1.jpg") %>" alt="Thumb"></div>
          <div class="featured-world-news-post">
            <h5></h5>
            Như nhiều quốc gia trên thế giới xây dựng trường đại học đẳng cấp thế giới, chưa bao giờ có rất nhiều khả năng hấp dẫn đối với sinh viên quốc tế. Tìm điểm đến của sinh viên lý tưởng của bạn với hướng dẫn sinh viên nước của chúng tôi bao gồm cả yếu tố cần thiết từ hồ sơ nhập học, học phí, visa, với văn hóa địa phương và đời sống sinh viên.
            <div class="like-comment-readmore">
              <p><a <%= link_to 'Xem Thêm', home_locate_path %> </p>
            </div> <!-- /.like-comment-readmore -->
          </div>
        </section> <!-- /#featured-world-news -->


        <ul>
          <li>

            <div class="ccr-thumbnail">
              <img src="<%= image_path("map/map_africa.png") %>" alt="thumbnail-small-1.jpg">
              <p><a <%= link_to 'Xem Thêm', home_locate_path %> > </a></p>
            </div>
            <h5><%= link_to 'Bảng xếp hạng các trường châu Phi...', home_locate_path %></h5>
          </li>
          <li>

            <div class="ccr-thumbnail">
              <img src="<%= image_path("map/map_europe.png") %>" alt="thumbnail-small-1.jpg">
              <p><a <%= link_to 'Xem Thêm', home_locate_path %> > </a></p>
            </div>
            <h5><%= link_to 'Bảng xếp hạng các trường châu Âu...', home_locate_path %></h5>
          </li>
          <li>

            <div class="ccr-thumbnail">
              <img src="<%= image_path("map/map_asia.png") %>" alt="thumbnail-small-1.jpg">
              <p><a <%= link_to 'Xem Thêm', home_locate_path %> > </a></p>
            </div>
            <h5><%= link_to 'Bảng xếp hạng các trường châu Á...', home_locate_path %></h5>
          </li>
          <li>

            <div class="ccr-thumbnail">
              <img src="<%= image_path("map/map_usa_can.png") %>" alt="thumbnail-small-1.jpg">
              <p><a <%= link_to 'Xem Thêm', home_locate_path %> > </a></p>
            </div>
            <h5><%= link_to 'Bảng xếp hạng các trường tại Mỹ và Canada...', home_locate_path %></h5>
          </li>

        </ul>

      </section> <!-- / #ccr-world-news -->




    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4 ccr-home">







      <section id="sidebar-entertainment-post">
        <div class="ccr-gallery-ttile">
          <span></span>
          <p><strong>Bảng xếp hạng</strong></p>
        </div> <!-- .ccr-gallery-ttile -->

        <div class="sidebar-entertainment">
          <a><img src="<%= image_path("entertainment.jpg") %>" alt="entertainment"></a>
          <%= link_to 'Khám phá trường đại học hàng đầu thế giới với World University Rankings', home_rank_path %></a>
        </div>
      </section>  <!-- /#sidebar-entertainment-post -->

      <section id="ccr-sidebar-newslater">


        <div class="sidebar-newslater-form">
          <form class="ccr-gallery-ttile" action="#">
            <input type="email" id="sb-newslater" name="sb-newslater" placeholder="Địa chỉ email của bạn" required>
            <button type="submit">Theo dõi</button>

          </form>
        </div> <!-- /.sidebar-newslater-form -->

      </section> <!-- /#ccr-sidebar-newslater -->

      <section id="ccr-find-on-fb">
        <div class="find-fb-title">
          <span><i class="fa fa-facebook"></i></span>Facebook
        </div> <!-- /.find-fb-title -->


        <div class="fb-like-box" data-href="https://www.facebook.com/topuniversities" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

      </section> <!-- /#ccr-find-on-fb -->


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->
<%= render 'footer' %>