<%= render 'header' %>

<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">



      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Mỹ và Canada', home_us_path %>

          </ul>
        </div> <!-- /.update-text -->


      </div> <!-- / .ccr-last-update -->
      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Châu Âu', home_euro_path %>

          </ul>
        </div> <!-- /.update-text -->


      </div> <!-- / .ccr-last-update -->
      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Châu Á', home_asia_path %>

          </ul>
        </div> <!-- /.update-text -->


      </div> <!-- / .ccr-last-update -->
      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Châu Phi', home_africa_path %>

          </ul>
        </div> <!-- /.update-text -->


      </div> <!-- / .ccr-last-update -->
      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Trung Đông', home_mid_path %>

          </ul>
        </div> <!-- /.update-text -->


      </div> <!-- / .ccr-last-update -->
      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Úc', home_aus_path %>

          </ul>
        </div> <!-- /.update-text -->


      </div> <!-- / .ccr-last-update -->
      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Mỹ Latin', home_latin_path %>

          </ul>
        </div> <!-- /.update-text -->


      </div> <!-- / .ccr-last-update -->









    </section><!-- /.col-md-8 / #ccr-left-section -->




  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->

<%= render 'footer' %>